@model PaginacionViewModel<VideojuegosViewModel>

@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1>VideoJuegos</h1>
<div class="col-md-3 mt-3">
    <a class="btn btn-success" style="width: 100%" asp-area="" asp-controller="Games" asp-action="Create">Crear nuevo</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Compania</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.Elementos)
        {
            <tr data-id="@usuario.Id" data-nombre="@usuario.Nombre" data-compania="@usuario.Compania" data-ano="@usuario.Ano" data-precio="@usuario.Precio" class="table-row">
                <td>@usuario.Nombre</td>
                <td>@usuario.Compania</td>
                <td>
                    <button class="btn btn-primary btn-detalle" type="button">Ver detalles</button>
                    <button class="btn btn-primary btn-editar" type="button">Editar</button>
                    <button class="btn btn-danger btn-eliminar" type="button">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Controles de paginación -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.TienePaginaAnterior)
        {
            <li class="page-item">
                <a class="page-link" asp-action="GetPages" asp-route-pagina="@(Model.PaginaActual - 1)">Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPaginas; i++)
        {
            if (i == Model.PaginaActual)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="GetPages" asp-route-pagina="@i">@i</a>
                </li>
            }
        }

        @if (Model.TienePaginaSiguiente)
        {
            <li class="page-item">
                <a class="page-link" asp-action="GetPages" asp-route-pagina="@(Model.PaginaActual + 1)">Siguiente</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Siguiente</span>
            </li>
        }
    </ul>
</nav>


<!-- Modal Detalle -->
<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Detalles del registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí mostraremos los detalles del registro seleccionado -->
                <p><strong>Nombre:</strong> <span id="modalNombre"></span></p>
                <p><strong>Compania:</strong> <span id="modalCompania"></span></p>
                <p><strong>Ano:</strong> <span id="modalAno"></span></p>
                <p><strong>Precio (Dolares):</strong> <span id="modalPrecio"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Editar videojuego</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form id="editVideoGameForm">
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombre" />
                    </div>
                    <div>
                        <label for="compania">Compañia</label>
                        <input type="text" class="form-control" id="inputCompania" name="compania" />
                    </div>
                    <div>
                        <label for="ano">Año</label>
                        <input type="number" class="form-control" id="inputAno" name="ano" />
                    </div>
                    <div>
                        <label for="precio">Precio (Dolares)</label>
                        <input type="text" class="form-control" id="inputPrecio" name="precio" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Eliminar videojuego</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p><strong>Esta seguro de eliminar:</strong><br /><span id="modalNombreEliminar"></span></p>
                <br />
                <div class="col-md-12">
                    <button type="submit" style="width: 100%" class="btn btn-danger btn-delete">Eliminar</button>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var token = '@ViewBag.AccessToken';

        // Evento de clic en los boton "Ver detalles"
        $('.btn-detalle').on('click', function () {
            // Obtenemos la fila asociada al botón que fue clicado
            var row = $(this).closest('tr');

            // Extraemos los datos de la fila (el ID del gestor)
            var id = row.data('id').toString();
            // Hacemos la llamada a la API usando POST y enviamos el ID en el cuerpo
            $.ajax({
                url: 'http://localhost:5275/api/Entidades/GetGamesById',  // La URL del endpoint POST
                method: 'POST',
                contentType: 'application/json', // Especificamos que enviamos JSON
                data: JSON.stringify({ id: id }), // Convertimos el ID a JSON y lo enviamos en el cuerpo
                headers: {
                    'Authorization': 'Bearer ' + token // Incluimos el token en los headers
                },
                success: function (data) {
                    $('#modalNombre').text(data.nombre);
                    $('#modalCompania').text(data.compania);
                    $('#modalAno').text(data.ano);
                    $('#modalPrecio').text(data.precio);

                    // Mostramos la modal
                    $('#detalleModal').modal('show');
                },
                error: function (error) {
                    console.error('Ocurrió un error:', error);
                }
            });
        });

        // Evento de clic en los boton "Editar"
        $('.btn-editar').on('click', function () {
            var row = $(this).closest('tr');

            var id = row.data('id').toString();

            //console.log('puntaje:', puntaje);
            $("#inputNombre").val(row.data('nombre').toString());
            $("#inputCompania").val(row.data('compania').toString());
            $("#inputAno").val(row.data('ano').toString());
            $("#inputPrecio").val(row.data('precio'));

            $('#editarModal').modal('show');

            // Evento tipo submit boton modal "Guardar cambios"
            $('#editVideoGameForm').submit(function (event) {
                event.preventDefault();

                var videoJuegosDto = {
                    nombre: $("#inputNombre").val(),
                    compania: $('#inputCompania').val(),
                    ano: $('#inputAno').val(),
                    precio: parseFloat($('#inputPrecio').val().replace(',', '.')) || null
                };

                $.ajax({
                    url: `http://localhost:5275/api/Entidades/${id}/EditVideoGame`, // URL hacia la API PUT
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(videoJuegosDto),
                    headers: {
                        'Authorization': 'Bearer ' + token // Incluimos el token en los headers
                    },
                    success: function (response) {
                        $('#editarModal').modal('hide');
                        window.location.href = '@Url.Action("GetPages")';
                    },
                    error: function (xhr, status, error) {
                        alert("Error al actualizar el videojuego: " + xhr.responseText);
                    }
                });

                console.log('objeto:', videoJuegosDto);
            });
        });

        $('.btn-eliminar').on('click', function () {
            var row = $(this).closest('tr');

            var id = row.data('id').toString();
            $('#modalNombreEliminar').text(row.data('nombre').toString());

            $('#eliminarModal').modal('show');

            $('.btn-delete').on('click', function () {

                $.ajax({
                    url: `http://localhost:5275/api/Entidades/${id}/DeleteVideoGame`, // URL hacia la API DELETE
                    method: 'DELETE',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + token // Incluimos el token en los headers
                    },
                    success: function (response) {
                        $('#eliminarModal').modal('hide');
                        window.location.href = '@Url.Action("GetPages")';
                    },
                    error: function (xhr, status, error) {
                        alert("Error al eliminar el videojuego: " + xhr.responseText);
                    }
                });
            });
        });
    });
</script>
